.contact {
    display: flex;
    justify-content: center;
    scroll-margin-top: 80px;
    background-color: #34445a;
}

.centered-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.contact-info {
  background-color: #34445a;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
  width: auto;
  flex-grow: 1;
  color: white;
}

.round-headshot {
    border-radius: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    width: 100px;
}

.contact-name {
    padding: 15px;
}

.contact-link {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  align-items: center;
}

.contact-link a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.contact-link a:hover {
  text-decoration: underline;
}

.right-gap {
    margin-right: 10px;
}