#hero {
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  #hero {
    transform: scaleY(1.02);
    height: 100dvh;
  }

  #hero .mask img {
    object-fit: cover;
    height: 100dvh;
  }
}

@media (max-width: 768px) {
  #hero {
    width: 100vw;
    height: 265px;
    overflow: hidden;
    position: relative;
  }

  .media {
    position: absolute;
    inset: 0;
  }

  .mask,
  .media video {
    position: absolute;
    left: 0;
    width: 100vw;
  }

  .mask {
    z-index: 2;
    pointer-events: none;
  }

  .mask img {
    height: 265px;
    display: block;
  }

  .media video {
    top: 50%;
    transform: translateY(-50%);

    height: auto;
    width: 100vw;

    object-fit: cover; /* crop behavior */
    object-position: center;
  }
}

#hero .media {
  position: absolute;
  inset: 0;
}

#hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#hero .mask {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 2;
}

#hero .mask img {
  /* width: 100%; */
  transform: scale(1);
  transform-origin: center;
}

#hero .hero-content {
  position: relative;
  z-index: 3;
  opacity: 0;
}