.home {
  padding: 24px;
  background-color: black;
  color: white;
  justify-content: center;
  scroll-margin-top: 80px;
  position: relative;
  z-index: 10;
}

.card-flex-grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 5x;
  align-items: stretch;
}

.card-flex-grid .col {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.card-flex-grid .featuredcard {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .card-flex-grid {
    justify-content: center;
  }

  .card-flex-grid .col {
    flex: 0 1 100%;
    justify-content: center;
  }

  .card-flex-grid .featuredcard {
    width: 90%;
    max-width: 320px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #323232;
    background-color: rgb(237, 237, 237);
    min-height: 200px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .card-flex-grid .featuredcard:hover {
    animation: shake 0.5s;
  }
}

.featured-card-header {
  padding-top: 10px;
  text-align: center;
  font-size: 10pt;
  font-weight: boldest;
}

.featured-card-description {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: small;
  text-align: center;
}

.see-more-text {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 60px;
}

.divider {
  margin-top: 40px;
  margin-bottom: 20px;
}

.quote {
  text-align: center;
  padding: 40px 20px;
  font-size: small;
}

a {
  color: lightslategray;
  text-decoration: none;;
}

a:hover {
  text-decoration: none;
}