.skills {
    padding: 24px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 12px;
  row-gap: 0;
}

.skill-card {
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 10px;
  max-width: 1000px;
  box-shadow: inset 0 2px 8px rgba(0,0,0,0.1);
}

.icon-span {
    margin-right: 5px;
}

.skill-name {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 3px;
    margin-top: 8px;
}