.circle-link {
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.circle {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 0.2s ease;
  box-sizing: border-box;
}

.circle-icon {
  width: 60%;
  height: 60%;
  object-fit: contain;
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease;
}

.circle:hover {
  background-color: white;
}

.circle:hover .circle-icon {
  filter: brightness(0);
}