.scrollSection {
  position: relative;
  height: 300vh;
  width: auto;
}

.centerRow {
  display: flex;
  height: 12rem;
  align-items: center;
  justify-content: center;
}

.textLabel {
  font-weight: 600;
  text-transform: uppercase;
  color: #737373;
}

.stickyContainer {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 1rem;
}

.carousel-card {
  position: relative;
  height: 450px;
  width: 450px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-radius: 15px;
  text-decoration: none;
  filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.0));
  transform: scale(1);
  transition: transform 0.001s ease;
}

.carousel-card:hover {
  filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.5));
  transform: scale(1.03);
  transition: transform 0.001s ease;
}

.carousel-card:hover a {
  text-decoration: none;
}

.cardImage {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  transition: transform 300ms ease;
  opacity: 90%;
}

.carousel-card:hover .cardImage {
  transform: scale(1.80);
  opacity: 100%;
}

.project-description {
  color: transparent;
  text-align: center;
  text-decoration: none;
}

.carousel-card:hover .project-description {
  color: white;
  text-decoration: none;
}

.cardOverlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: grid;
  place-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.cardTitle {
  font-size: 1.7rem;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
  line-height: 1;
}

.cardLanguages {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 0px;
  padding-top: 0px;
}

.see-more-text {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.languages-span {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.language {
  color: white;
  padding: 4px 8px;
  border-radius: 999px;
  font-size: 10px;
  white-space: nowrap;
  text-align: center;
  align-items: center;
}

.github-info {
  margin-top: 20px;
  color: transparent;
}

.carousel-card:hover .github-info {
  color: white;
  text-decoration: none;
}