@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shakecard {
  border-radius: 4px;
  padding: 10px;
  margin-top: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #323232;
  background-color: rgb(237, 237, 237);
  min-height: 200px;
  max-width: fit-content;
  cursor: pointer;
  transition: transform 0.2s;
}

.shakecard:hover {
  animation: shake 0.5s;
}