@import "tailwindcss";
@config "../tailwind.config.js";

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-col {
  flex: 1;
  width: auto;
  min-width: 200px;
  padding: 10px;
}

@media (max-width: 600px) {
  .flex-col {
    flex: 1;
    min-width: 100%;
  }  
}