@import "tailwindcss";
@config "../tailwind.config.js";

@utility transition-col {
  @apply transition-colors duration-500 ease-in-out;
}

.flex-col {
  flex: 1;
  width: auto;
  min-width: 200px;
  padding: 10px;
}

@media (max-width: 600px) {
  .flex-col {
    flex: 1;
    min-width: 100%;
  }  
}

.react-terminal-wrapper,
.react-terminal {
  height: 100%;
  overflow-y: auto;
}

.react-terminal-output {
  max-height: 100%;
  overflow-y: auto;
}